@font-face {
    font-family: 'Gelion-Light', sans-serif;
    src: url("../fonts/Gelion-Light.ttf") format("ttf");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Gelion-Regular', sans-serif;
    src: url("../fonts/Gelion-Regular.ttf") format("ttf");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Gelion-Bold', sans-serif;
    src: url("../fonts/Gelion-Bold.ttf") format("ttf");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}