%redhat-regular {
    font-family: 'Red Hat Display', sans-serif;
    font-weight: 400;
}
%redhat-medium {
    font-family: 'Red Hat Display', sans-serif;
    font-weight: 500;
}
%redhat-bold {
    font-family: 'Red Hat Display', sans-serif;
    font-weight: 700;
}